<!DOCTYPE html>


<html lang="en">
{% load static %}

<head>
    <title>{% block title %}MA Store{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>

    <nav class="bg-white shadow-md py-3 px-6 flex justify-between items-center border-b border-gray-300">
        <!-- Logo Section -->
        <div class="w-12">
            <a href="{% url 'home' %}">
                <img src="/static/images/MO log.jpeg
                " alt="Logo" class="object-contain rounded-lg motion-safe:animate-bounce">
            </a>
        </div>

        <!-- Navigation Links -->
        <div class="flex gap-12">
            <a href="{% url 'home' %}" class="relative text-black font-medium hover:text-gray-800 transition-all duration-300
            after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 
            after:bg-black after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">
                Home
            </a>

            <a href="{% url 'products' %}" class="relative text-black font-medium hover:text-gray-800 transition-all duration-300
            after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 
            after:bg-black after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">
                Shop
            </a>

            <a href="#about" class="relative text-black font-medium hover:text-gray-800 transition-all duration-300
            after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 
            after:bg-black after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">
                About Us
            </a>
        </div>

        <!-- Cart Button -->
        <div>
            <a href="{% url 'cart_detail' %}"
                class="bg-black text-white py-2 px-4 rounded-xl flex items-center gap-2 
            hover:bg-gray-900 transition-all duration-300 transform hover:scale-105 shadow-md motion-safe:animate-bounce">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </nav>

    <!-- page-content -->
    <section
        class="flex flex-col items-center justify-end h-screen bg-[url(/static/images/Mo.jpeg)] bg-cover bg-[center_bottom_-10px] animate-floating p-36">
        <a href="{% url 'products' %}" class="relative  inline-block px-8 py-3 text-black font-bold rounded-full 
                bg-white hover:bg-black hover:text-white 
                shadow-lg hover:shadow-2xl transform hover:scale-105 
                transition-all duration-300 border-2 border-black ml-4 motion-safe:animate-bounce">
            Start Shopping
        </a>
    </section>

    <!-- Footer -->
    <footer class="bg-black text-white py-8 px-8 text-center">
        <div>
            <div class="flex justify-center gap-6 mb-4">
                </a>
                <a href="https://www.instagram.com/m.o_optics?igsh=MTJ6aXpubnppYTExYg%3D%3D&utm_source=qr"
                    class="text-white hover:text-gray-400 transition-transform transform hover:scale-110"
                    target="_blank">
                    <i class="fa-brands fa-instagram text-3xl"></i>
                </a>
                <a href="https://wa.me/201062654749?text=مرحبا، أريد الاستفسار عن خدماتكم."
                    class="text-white hover:text-gray-400 transition-transform transform hover:scale-110"
                    target="_blank">
                    <i class="fa-brands fa-whatsapp text-3xl"></i>
                </a>
            </div>

            <p class="font-bold text-lg">&copy; 2025 MO Store - All Rights Reserved</p>
            <p class="text-sm text-gray-500 mt-2">
                <a href="https://my-portfolio-59ne.onrender.com/" target="_blank"
                    class="text-white font-semibold hover:text-gray-400 transition duration-300">
                    Designed by: Mohanad Ahmed Khalil
                </a>
            </p>
            <!-- Privacy Policy Link
            <p class="text-sm text-gray-500 mt-4">
                <a href="{% url 'privacy_policy' %}" class="text-white hover:text-gray-400 transition duration-300">
                    Privacy Policy
                </a>
            </p> -->
        </div>
    </footer>


</body>

</html>